figures/*
*rds
template/template-preparing-submission/GSA-journal-template.log
template/template-preparing-submission/GSA-journal-template.pdf
template/template-preparing-submission/GSA-journal-template.synctex.gz
data
docs
